export(GetFamilyNames)
export(GetRanefs)
export(GetPrior)
export(GetResidualVariance)
export(SetupEMREoptim)
export(FitEMRE)
export(PoissonEMRE)
export(GaussianEMRE)
export(OptimIterator)
export(GaussOptimIterator)
export(RandomEffect)
export(GaussianRandomEffect)
export(RanefTerm)
export(FixefTerm)
