import(Rcpp)
S3method(GetFamilyNames, EMRE)
S3method(GetRanefs, EMRE)
S3method(GetPrior, EMRE)
S3method(GetResidualVariance, EMRE)
export(SetupEMREoptim)
export(FitEMRE)
export(PoissonEMRE)
export(GaussianEMRE)
